let pi = 3.141592
let cx = 0
let cy = 0
let dist = 3
let th = {{3.141592*2/n}}
{% for i in range(1,n) %}let thr{{i}} = R {{3.141592*2/(2*n)}}
{% endfor %}
let rd = R 2

var   t, r{% for i in range(1,n) %}, x{{i}},y{{i}},vx{{i}},vy{{i}}{% endfor %}

init  Start, 0, dist+rd{% for i in range(1,n) %}, 10*cos(th*{{i-1}}-th/4+thr{{i}}),10*sin(th*{{i-1}}-th/4+thr{{i}}),-cos(th*{{i-1}}-th/4+thr{{i}}),-sin(th*{{i-1}}-th/4+thr{{i}}){% endfor %}

at Start wait 0, 0{% for i in range(1,n) %}, vx{{i}},vy{{i}},0,0{% endfor %}
  watch F ((x1-cx)^2+(y1-cy)^2-r^2*3, 2*x1*vx1 + 2*y1*vy1)
  goto Enter then 0,r{% for i in range(1,n) %}, x{{i}},y{{i}},vx{{i}},vy{{i}}{% endfor %}
end

at Enter wait 1, 0{% for i in range(1,n) %}, vx{{i}},vy{{i}},-vy{{i}}/r,vx{{i}}/r{% endfor %}
  watch F (pi*r/3 - t, true)
  goto Cycle then 0,r{% for i in range(1,n) %}, x{{i}},y{{i}},vx{{i}},vy{{i}}{% endfor %}
end

at Cycle wait 1, 0{% for i in range(1,n) %}, vx{{i}},vy{{i}},vy{{i}}/r,-vx{{i}}/r{% endfor %}
  watch F (pi*2*r/3 - t, true)
  goto Leave then 0,r{% for i in range(1,n) %}, x{{i}},y{{i}},vx{{i}},vy{{i}}{% endfor %}
end

at Leave wait 1, 0{% for i in range(1,n) %}, vx{{i}},vy{{i}},-vy{{i}}/r,vx{{i}}/r{% endfor %}
  watch F (pi*r/3 - t, true)
  goto Start then 0,r{% for i in range(1,n) %}, x{{i}},y{{i}},vx{{i}},vy{{i}}{% endfor %}
end

prop 
{% for i in range(1,n) %}{% for j in range(i,n) %}G[0,30]( ((x{{i}}-x{{j}})^2+(y{{i}}-y{{j}})^2) - 9 ) &
{% endfor %}{% endfor %}

{% for i in range(1,n) %}F[0,10]( G[0,10]( !((x{{i}}-cx)^2+(y{{i}}-cy)^2 -  25) ) & F[10,20](  (x{{i}}-cx)^2+(y{{i}}-cy)^2 - 100) ){% if i < n %} &
{% endif %}{% endfor %}

param order = 20
param t_max = 20
#param h_min   = 0.1
param h_min   = 1e-14
param epsilon = 1e-14
#param epsilon = 0
param dump_interval = 0.2
#param delta = 0.99
#param tau = 1.01
#param char_mtx = -1
#param char_mtx = 1
#param char_mtx = 2
param char_mtx = 3
param qr_thres = 8000
